<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="NUnit" version="3.11.0" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.10.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.IEDriver64" version="3.11.0.1" targetFramework="net472" />
</packages>
